@using System.Web.Mvc

@model MovieStore.Models.Actress

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Actress</legend>

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Birth Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</fieldset>

@using (Ajax.BeginForm(
    "Delete",
    "Actresses",
    new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "reloadPage"
    },
    new { id = "form-delete-actress" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn" />
        <input type="button" value="Cancel" onclick="closeDeleteActressForm()" class="btn" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function reloadPage() {
        $("#single-actress-form").html("");
        window.location = "/Actresses";
    }

    function closeDeleteActressForm() {
        $("#single-actress-form").html("");
    }
</script>
