@using System.Web.Mvc

@model MovieStore.Models.Director

@using (Ajax.BeginForm(
    "Create",
    "Directors",
    new AjaxOptions
    {
        HttpMethod = "Post",
        OnBegin = "onValidate",
        OnSuccess = "reloadPage"
    },
    new { id = "form-create-director" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Director</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.BirthDate, "Birth Date", new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
            <input type="button" value="Cancel" onclick="closeCreateDirectorForm()" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function reloadPage() {
        $("#single-director-form").html("");
        window.location = "/Directors";
    }

    function closeCreateDirectorForm() {
        $("#single-director-form").html("");
    }

    var onValidate = function (e) {
        $.validator.unobtrusive.parse($("#form-create-director"));
        var isValid = $("#form-create-director").valid();
        if (!isValid) {
            e.abort();

        } else {
            alert("Director created successfully.");
        }
    };
</script>

